@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cinzel);

body {
    padding: 20px 0px 0px 0px;
	background: #f4f4f4;
    overflow-y: scroll;
}

.container-narrow {
    margin: 0 auto;
    max-width: 768px;
}
.container-narrow > hr {
    margin: 20px 0;
}
.monospace {
    font-family: courier;
}
.nav-pills > .active > a {
    background-color: #778867;
}
.nav-pills > .active > a:hover {
    background-color: #778867;
}
.nav > li > a:hover {
	color: #336600;
    background-color: #f4f4f4;
}

hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

a {
	text-decoration: none;
	color: #336600;
}
a:hover {
	text-decoration: underline;	
}

.name {
    display: inline;
}
.email {
    font-size: 75%;
}

/* Articles */

header h1 {	
	font-family: 'Cinzel', serif;
	font-size: 1.6em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.6pt;
	font-weight: bold;
}

header h2 {
	font-family: 'Cinzel', serif;
	font-size: 1.2em;
	font-style: italic;
	text-align: center;
	letter-spacing: 1.2pt;
}

code#literal {
	font-family: 'Inconsolata', courier,"courier new",monospace;	
}

header p {
	text-align: center;
}

section h1 {
    font-size: 26px;
}
section h2 {
    color: #5c5c5c;
    font-size: 20px;
}

article > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px
}