/*
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 4
   Review Assignment

   Online Scrapbooks Printer Style Sheet
   Author: Jared Krelic
   Date: October 17, 2011   

   Filename:         printer.css
   Supporting Files: none

*/
@page {size: 8.5in 11in prtrait; margin: 0.5in}
#head , #links, address, ul, h2, #content p {display: none}

.samples	{page-break-after: always; text-align: center}
.samples h3	{font-size: 18pt; font family: sans-serif}
.samples img	{width: 6.5in; height: 8.35in; border-width: 0px}
