/*
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 7
   Case Problem 2

   Roadways Style sheet

   Filename:         rw.css
   Supporting Files: 


*/

body                 {margin: 0px; padding: 0px; font-size: 15px; 
                      font-family: Arial, Helvetica, sans-serif;
                      background-image: url(tan.jpg)}
#links               {position: absolute; top: 0px; left: 0px; width: 150px}
#links ul            {list-style-type: none; padding-left: 0px; margin-left: 30px; 
                      font-size: 16px}
#links a             {text-decoration: none; color: rgb(0,128,0)}
#links a:hover       {text-decoration: overline underline}
#links li.newTopic   {margin: 10px 0px 10px -20px}

#pageContent         {position: absolute; top: 0px; left: 160px; width: 600px;
                      border-left: 2px solid rgb(0,128,0)}

#head                {margin-left: 10px;
                      border-bottom: 2px solid rgb(0,128,0)}

#mainColumn          {margin-left: 10px}
#mainColumn h2       {margin: 5px 0px; letter-spacing: 3px}

#movie               {float: right; margin: -30px 0px 10px 10px; text-align: center}
#movie p             {font-size: 10px}

